<header class="top-nav">
    <div class="nav-left">
        API文档
    </div>
    <a href="#" class="cn-button lang-toggle">
        中文
    </a>
    <a href="#" class="en-button lang-toggle">
        English
    </a>
</header>
