/* place your custom CSS overrides here */

div .highlight {
	max-width: 95%;
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}
.toc-list-h3 {
    display: none;
    background-color: #1E2224;
}
.toc-h3 {
    padding-left: 35px;
    font-size: 11px;
}
.toc-list-h4 {
    display: none;
    background-color: #1E2224;
}
.toc-h4 {
    padding-left: 45px;
    font-size: 10px;
}
.toc-list-h5 {
    display: none;
    background-color: #1E2224;
}
.toc-h5 {
    padding-left: 55px;
    font-size: 9px;
}
.toc-list-h6 {
    display: none;
    background-color: #1E2224;
}
.toc-h6 {
    padding-left: 65px;
    font-size: 8px;
}
.well {
    background: rgba(0, 0, 0, 0.01);
}
/*自定义css样式覆盖*/
.content h1,.content h2 {
    color: red;
    padding-top: 60px;
}
.toc-wrapper, .page-wrapper .dark-box {
    top: 60px;
}

/*ren增加了header样式*/
header.top-nav {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    left: 0;
    top: 0;
    padding: 0 26px;
    background: #131625;
    z-index: 99999;
    display: flex;
    align-items: center;
}

header.top-nav .nav-left {
    display: flex;
    flex: 1;
    align-items: center;
    color: #D2D6EC;
    font-size: 16px;
}

header.top-nav .en-button {
    display: inline-block;
    width: 78px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #383F66;
    color: #ADC1D5;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
}

header.top-nav .lang-toggle:hover {
    color: #357CE1;
    border-color: #357CE1;
}
